// global style container

// import global base styles
@import "./base/_typography";
@import "./base/_navbar";
@import "./base/_header";
@import "./base/_footer";

// import global components
@import "./components/_callouts";
@import "./components/toggles";

:root {
  --transition-setting: all 0.2s ease-in-out;
}

body {
  // background: #000 url("https://dkklgcfj2.mo.cloudinary.net/rest/of/the/path/image.jpg");
  background: #000 url("../images/cave_bg_16_9.webp");
  background-attachment: fixed;
  background-size: cover;
}

// set padding-bottom lower
.super-content {
  padding-bottom: 15vh;
}

// set page width for non-full width pages
.super-content.max-width,
.notion-header__content[class*="max-width"] {
  max-width: 1000px !important;
  padding-left: 50px;
  padding-right: 50px;
}
