/* janky centering fix for mobile*/
@media (max-width: 470px) {
  .super-content {
    padding-left: 0 !important;
  }

  #block-65d8c8335bfc40a785d3b3fc9a6e05ff {
    padding-left: calc(env(safe-area-inset-left) + 24px);
  }

  #block-59d9e6ace42d41078745976959a4dadb {
    font-size: 0.5rem;
    filter: opacity(0.75);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* remove page title */
.notion-header.page,
.notion-header__title {
  display: none;
}

/* concave logo blending */
.notion-image.page-width img {
  pointer-events: none;
  user-drag: none;
  user-select: none;
  mix-blend-mode: screen;
}

/* main div left */
#block-4820d6c1c1014b569f27845ff613923c {
  align-self: center;
}

/* info area icons styling */
#block-5525948e81274bb88da4d997521008a8 .notion-callout__icon,
#block-4c0d0333ea4e4b118761696e4d84f290,
#block-a1502d3a46904d78b310f5eb72ed4f74,
#block-942aa6af432a4283ac4194d177dfd876,
#block-225e0fd114064600a03fad124b36dc27,
#block-5727bc12dfff47d097f8ddc9393833ff {
  pointer-events: none;
  user-drag: none;
  user-select: none;
  filter: invert(1);
}

/* toggle label */
.notion-toggle__summary {
  font-size: 1.5rem;
}

/* Unset Main CTA centering*/
#block-5525948e81274bb88da4d997521008a8 {
  align-self: unset;
}

/* Currently Minting Table */
#block-currently-minting {
  width: calc(max(27vw, 300px));
}

#block-currently-minting .notion-collection-table__wrapper {
  overflow-x: visible;
}

#block-currently-minting table {
  width: auto;
}

#block-currently-minting thead {
  display: none;
}

#block-currently-minting td:first-of-type {
  width: 60px;
  padding-left: 2px;
}

#block-currently-minting td {
  border: none;
}
/* Currently Minting Table End */
